@media (max-width: 575px)
	.container
		max-width: 360px
		.col
			display: flex
			.card
				width: 137px
				margin-bottom: 90px
				&:hover
					margin-left: -13px
					.content
						margin-top: 9px
						.card-img
							margin-left: 1px
						.card-body
							padding: 4px 0 1px 0
							.card-text
								margin-left: 1px
							.card-row
								padding-top: 8px
								margin-left: 1px
								display: flex
								.card-price
									padding-right: 2px
									margin-left: 1px
							.star
								margin-left: 100px
							.descr
								display: block
			.up
				.card-body
					padding: 1px 0 1px 0
				&:hover
						height: 470px
						transform: translateY(-182px)
						.content
							margin-top: 10px
						.card-body
							display: flex
							flex-direction: column-reverse
							.card-text
								margin-top: 10px
							.descr
								margin-left: 9px
								margin-top: 5px
							.card-row
								padding-top: 8px